:root {
    --lt-color-gray-100: #f8f9fc!important;
    --lt-color-gray-200: #f1f3f9!important;
    --lt-color-gray-300: #dee3ed!important;
    --lt-color-gray-400: #c2c9d6!important;
    --lt-color-gray-500: #8f96a3!important;
    --lt-color-gray-600: #5e636e!important;
    --lt-color-gray-700: #2f3237!important;
    --lt-color-gray-800: #1d1e20!important;
    --lt-color-gray-900: #111213!important;
    --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04)!important;
    --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2)!important;
    --lt-color-white: #fff !important;
    --lt-color-black: #111213 !important;
    --lt-color-transparent: rgba(255, 255, 255, 0) !important;
    --lt-color-background-light: var(--lt-color-gray-100) !important;
    --lt-color-background-default: var(--lt-color-gray-200) !important;
    --lt-color-background-dark: var(--lt-color-gray-300) !important;
    --lt-color-border-light: var(--lt-color-gray-200) !important;
    --lt-color-border-default: var(--lt-color-gray-300) !important;
    --lt-color-border-dark: var(--lt-color-gray-400) !important;
    --lt-color-text-very-light: var(--lt-color-gray-500) !important;
    --lt-color-text-light: var(--lt-color-gray-600) !important;
    --lt-color-text-default: var(--lt-color-gray-700) !important;
    --lt-color-text-dark: var(--lt-color-gray-800) !important;
    --lt-color-overlay-default: #fff !important;
    --lt-color-overlay-dark: #fff !important;
    --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1) !important;
    --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3) !important;
    --color-white: #ffffff !important;
    --color-black: #000000 !important;
    --gray-50: #f2f2f3!important;
    --gray-100: #e5e6e7!important;
    --gray-200: #cacdce!important;
    --gray-300: #b0b3b5!important;
    --gray-400: #959a9d!important;
    --gray-500: #7b8184!important;
    --gray-600: #62676a!important;
    --gray-700: #4a4d50!important;
    --gray-800: #1a1a1a!important;
    --gray-900: #181a1b!important;
    --blue-50: #e5f4ff!important;
    --blue-100: #cceaff!important;
    --blue-200: #99d4ff!important;
    --blue-300: #66bfff!important;
    --blue-400: #33aaff!important;
    --blue-500: #0095ff!important;
    --blue-600: #0077cc!important;
    --blue-700: #005999!important;
    --blue-800: #003b66!important;
    --blue-900: #001e33!important;
    --indigo-50: #e5e8ff!important;
    --indigo-100: #ccd0ff!important;
    --indigo-200: #99a2ff!important;
    --indigo-300: #6673ff!important;
    --indigo-400: #3344ff!important;
    --indigo-500: #0015ff!important;
    --indigo-600: #0011cc!important;
    --indigo-700: #000d99!important;
    --indigo-800: #000866!important;
    --indigo-900: #000433!important;
    --violet-50: #f0e5ff!important;
    --violet-100: #e1ccff!important;
    --violet-200: #c399ff!important;
    --violet-300: #a666ff!important;
    --violet-400: #8833ff!important;
    --violet-500: #6a00ff!important;
    --violet-600: #5500cc!important;
    --violet-700: #400099!important;
    --violet-800: #2a0066!important;
    --violet-900: #150033!important;
    --purple-50: #fde5ff!important;
    --purple-100: #fbccff!important;
    --purple-200: #f699ff!important;
    --purple-300: #f266ff!important;
    --purple-400: #ee33ff!important;
    --purple-500: #ea00ff!important;
    --purple-600: #bb00cc!important;
    --purple-700: #8c0099!important;
    --purple-800: #5d0066!important;
    --purple-900: #2f0033!important;
    --pink-50: #ffe5f4!important;
    --pink-100: #ffccea!important;
    --pink-200: #ff99d5!important;
    --pink-300: #ff66bf!important;
    --pink-400: #ff33aa!important;
    --pink-500: #ff0095!important;
    --pink-600: #cc0077!important;
    --pink-700: #990059!important;
    --pink-800: #66003c!important;
    --pink-900: #33001e!important;
    --red-50: #ffe5e8!important;
    --red-100: #ffccd0!important;
    --red-200: #ff99a1!important;
    --red-300: #ff6673!important;
    --red-400: #ff3344!important;
    --red-500: #ff0015!important;
    --red-600: #cc0011!important;
    --red-700: #99000d!important;
    --red-800: #660008!important;
    --red-900: #330004!important;
    --orange-50: #fff0e5!important;
    --orange-100: #ffe1cc!important;
    --orange-200: #ffc499!important;
    --orange-300: #ffa666!important;
    --orange-400: #ff8833!important;
    --orange-500: #ff6a00!important;
    --orange-600: #cc5500!important;
    --orange-700: #994000!important;
    --orange-800: #662b00!important;
    --orange-900: #331500!important;
    --yellow-50: #fffde5!important;
    --yellow-100: #fffbcc!important;
    --yellow-200: #fff699!important;
    --yellow-300: #fff266!important;
    --yellow-400: #ffee33!important;
    --yellow-500: #ffea00!important;
    --yellow-600: #ccbb00!important;
    --yellow-700: #998c00!important;
    --yellow-800: #665e00!important;
    --yellow-900: #332f00!important;
    --lime-50: #f4ffe5!important;
    --lime-100: #eaffcc!important;
    --lime-200: #d5ff99!important;
    --lime-300: #bfff66!important;
    --lime-400: #aaff33!important;
    --lime-500: #95ff00!important;
    --lime-600: #77cc00!important;
    --lime-700: #599900!important;
    --lime-800: #3c6600!important;
    --lime-900: #1e3300!important;
    --green-50: #e8ffe5!important;
    --green-100: #d0ffcc!important;
    --green-200: #a2ff99!important;
    --green-300: #73ff66!important;
    --green-400: #44ff33!important;
    --green-500: #15ff00!important;
    --green-600: #11cc00!important;
    --green-700: #0d9900!important;
    --green-800: #096600!important;
    --green-900: #043300!important;
    --teal-50: #e5fff0!important;
    --teal-100: #ccffe1!important;
    --teal-200: #99ffc4!important;
    --teal-300: #66ffa6!important;
    --teal-400: #33ff88!important;
    --teal-500: #00ff6a!important;
    --teal-600: #00cc55!important;
    --teal-700: #009940!important;
    --teal-800: #00662b!important;
    --teal-900: #003315!important;
    --cyan-50: #e5fffd!important;
    --cyan-100: #ccfffb!important;
    --cyan-200: #99fff7!important;
    --cyan-300: #66fff2!important;
    --cyan-400: #33ffee!important;
    --cyan-500: #00ffea!important;
    --cyan-600: #00ccbb!important;
    --cyan-700: #00998c!important;
    --cyan-800: #00665e!important;
    --cyan-900: #00332f!important;
}