.skin-blue .main-header .navbar {
    background-color: var(--color-black)!important;
}

.skin-blue .main-header .logo {
    background-color: var(--color-black)!important;
    color: var(--text-color)!important;
    border-bottom: 0 solid transparent;
}

.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
    background-color: var(--sidebar-bg-color)!important;
}

.main-footer {
    background: var(--footer-bg-color)!important;
    padding: 15px;
    color: var(--text-color);
    border-top: 1px solid var(--footer-border-color) !important;
}

.nav-tabs-custom>.tab-content {
    background: var(--card-bg-color);
    padding: 10px;
    border-radius: var(--border-radius) !important;
}

.login-page,
.register-page {
    background: var(--login-bg-color);
}

.login-logo a,
.register-logo a {
    color: var(--logo-color);
}

.login-box-body,
.register-box-body {
    background: #var(--card-bg-color);
    padding: 20px;
    border-top: 0;
    color: var(--text-color);
}

.form-control {
    color: var(--text-color);
    background-color: var(--color-dark-gray);
    background-image: none;
    border: 1px solid var(--color-black);
    border-radius: 0px;
}

.content-wrapper {
    min-height: 100%;
    background-color: var(--color-dark-gray);
    z-index: 800;
}

.box {
    position: relative;
    border-radius: 0px;
    background: var(--color-black);
    border-top: 3px solid var(--red-500);
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}