.skin-blue .main-header .navbar {
    background-color: var(--color-black)!important;
}

.skin-blue .main-header .logo {
    background-color: var(--color-black)!important;
    color: var(--text-color)!important;
    border-bottom: 0 solid transparent;
}