:root {
    --border-radius: 0px;
    --card-bg-color: var(--gray-800);
    --text-color: var(--color-white);
    --sidebar-bg-color: var(--gray-900);
    --footer-bg-color: var(--gray-900);
    --footer-border-color: var(--gray-900);
}